.product-listing-card{
    border: 1px solid #aaa;
    width: fit-content;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}

.product-listing-image{
    width: 200px;
    padding-left: 3rem;
}

.product-listing-details-container{
    padding-top: 2rem;
    padding-left: 3rem;
}

.author-name{
    font-size: 0.9rem;
    padding: 0.5rem 0; 
}

.pricing{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-colour-bright);
}

.product-listing-button{
    display: inline-block;
    background-color: var(--primary-colour-bright);
    width: 100px;
    padding: 1rem 0;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin-top: 1rem;
    transition: 0.2s ease-in;
}

.product-listing-button:hover{
    background-color: #000;
}